/* Base Elements */

button {
  /* transition: var(--transition); */
  border: none;
  width: var(--cell-size);
  height: var(--cell-size);
  text-indent: -9999px;
  /* Throw the text offscreen, we only need the value */
  outline: none;
  /* Normally this is bad practice. Don't try this at home kids.*/
  appearance: none;
  /* Normally this is bad practice. Don't try this at home kids.*/
  border: 5px solid transparent;
}

/* Gameboard Buttons */
[data-feature='chomp'] [data-target='piece_directions'] {
  width: var(--cell-size);
}

[data-family='x'][data-genus='3'].CAN_CLICK:hover, [data-family='z'][data-genus='3'].CAN_CLICK:hover {
  animation: bounce;
  animation-duration: 2.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

[data-family='x'][data-genus='2'].CAN_CLICK:hover, [data-family='z'][data-genus='2'].CAN_CLICK:hover {
  animation: bounce;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

[data-family='x'][data-genus='1'].CAN_CLICK:hover, [data-family='z'][data-genus='1'].CAN_CLICK:hover {
  animation: bounce;
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

