/*  Variables & Colors // Element-Level Selectors */

:root {
  /* Swatches */
  --pitchblack: #1e1f1e;
  --ember: #F78644;
  --quartz: #FCF3EC;
  --hoodie: #B3B3B3;
  --falcon: #7D6167;
  --laguna: #754F5B;
  --acoma: #5386E4;
  --treasure: #21E4D5;
  --supernova: #DC602E;
  --burn: #BC412B;
}
