/* Resets */
*, *:before, *:after {box-sizing: border-box;}* {margin: 0; padding: 0;}

/*  Variables & Colors // Element-Level Selectors */
:root {  
  /* Variables */
  --cell-size: 150px;
  --transition: .05s all ease-in-out;
}