[data-feature="chomp"] .lay_flex_center {
  display: flex;
  flex-direction: column;
}

[data-feature="chomp"] .lay_full_height {
  height: 90vh;
}

[data-feature="chomp"] .lay_grid_3x3 {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, auto);
}

.LAY_FLEX_ACTIVE {
  background: var(--quartz);
  flex: 3;
}

.LAY_FLEX_NOT_ACTIVE {
  background: transparent;
  flex: 1;
}

[data-feature="chomp"] [data-target='side-control'] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}