[data-feature="chomp"] [data-target="cell"].LILY {
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/square/square-01.svg);
  background-color: transparent;
}

[data-feature='chomp'] [data-family='x3'].x-3-3 {
  background-image: url(../../../images/square/x-3-3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

[data-feature='chomp'] [data-family='x3'].x-3-2 {
  background-image: url(../../../images/square/x-3-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

/* Tuna Bear */

[data-feature="chomp"] [data-target="cell"].LUNA {
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/circle/circle-01.svg);
  background-color: transparent;
}