[data-feature="chomp"] .x3 {
  background: url(../../../images/summer/x3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

[data-feature="chomp"] .x2 {
  background: url(../../../images/summer/x2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

[data-feature="chomp"] .x1 {
  background: url(../../../images/summer/x1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-3-3 {
  background: url(../../../images/summer/x-3-3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-3-2 {
  background: url(../../../images/summer/x-3-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-3-1 {
  background: url(../../../images/summer/x-3-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-3-0 {
  background: url(../../../images/summer/x-3-0.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-2-3 {
  background: url(../../../images/summer/x-2-3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-2-2 {
  background: url(../../../images/summer/x-2-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-2-1 {
  background: url(../../../images/summer/x-2-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-2-0 {
  background: url(../../../images/summer/x-2-0.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-1-3 {
  background: url(../../../images/summer/x-1-3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-1-2 {
  background: url(../../../images/summer/x-1-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-1-1 {
  background: url(../../../images/summer/x-1-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.x-1-0 {
  background: url(../../../images/summer/x-1-0.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-3-3 {
  background: url(../../../images/winter/z-3-3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-3-2 {
  background: url(../../../images/winter/z-3-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-3-1 {
  background: url(../../../images/winter/z-3-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-3-0 {
  background: url(../../../images/winter/z-3-0.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-2-3 {
  background: url(../../../images/winter/z-2-3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-2-2 {
  background: url(../../../images/winter/z-2-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-2-1 {
  background: url(../../../images/winter/z-2-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-2-0 {
  background: url(../../../images/winter/z-2-0.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-1-3 {
  background: url(../../../images/winter/z-1-3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-1-2 {
  background: url(../../../images/winter/z-1-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-1-1 {
  background: url(../../../images/winter/z-1-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.z-1-0 {
  background: url(../../../images/winter/z-1-0.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

[data-feature="chomp"] .z1 {
  background: url(../../../images/winter/z1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

[data-feature="chomp"] .z2 {
  background: url(../../../images/winter/z2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

[data-feature="chomp"] .z3 {
  background: url(../../../images/winter/z3.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.WIN {
  animation: tada;
  animation-duration: 1s;
}