[data-feature='chomp'] [data-family='x3'][data-genus='LILY'] {
  background: url("../../../images/square/square-04.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

[data-feature='chomp'] [data-family='x2'][data-genus='LILY'] {
  background: url("../../../images/square/square-05.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

[data-feature='chomp'] [data-family='x1'][data-genus='LILY'] {
  background: url("../../../images/square/square-06.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

[data-feature='chomp'] [data-family='x3'][data-genus='LUNA'] {
  background: url("../../../images/circle/circle-04.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

[data-feature='chomp'] [data-family='x2'][data-genus='LUNA'] {
  background: url("../../../images/circle/circle-05.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

[data-feature='chomp'] [data-family='x1'][data-genus='LUNA'] {
  background: url("../../../images/circle/circle-06.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}