[data-feature="chomp"] [data-target="cell"] {
  background: var(--falcon);
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 5px solid var(--quartz);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  /* transition: var(--transition); */
}

[data-feature="chomp"] [data-target="cell"].CLICK {
  /* transform: scale(.9); */
}
[data-feature="chomp"] [data-target="cell"].CANNOT_CLICK {
  transform: scale(.8);
  opacity: .9;
}

