[data-component='class-switcher'] [data-component='switcher-header'] {
  /* border: 5px solid gold; */
}

[data-component='class-switcher'] [data-component='switcher-control'] {
  transition: var(--transition);
}

[data-component='class-switcher'] [data-component='switcher-header'] h1 {
  transition: .25s all ease-out;
}

[data-component='class-switcher'] [data-component='switcher-header'].SWITCH h1 {
  transform: translateX(85vw);
}

[data-component='class-switcher'] [data-component='switcher-control'].SWELL {
  flex: 3;
}

[data-component='class-switcher'] [data-component='switcher-control'].RECEDE {
  flex: 1;
}