* {
  cursor: pointer;
}

.CAN_CLICK {
  transition: .15s all ease;
}

.CAN_CLICK:hover {
  /* cursor: url('path-to-image.png'), auto; */
  cursor: pointer;
  transform: scale(1.1);
}

.CANNOT_CLICK:hover {
  border: 3px solid RED;
  cursor: not-allowed !important;
  /* pointer-events: none; */
}