.CAN_CLICK {
  transition: .15s all ease;
  cursor: url(../../images/cursors/ok-color.png) 25 25, pointer;
}

.CAN_CLICK:hover {
  border: 5px solid var(--treasure);
}

.CANNOT_CLICK {
  opacity: .5;
}

.CANNOT_CLICK:hover {
  border: 10px solid var(--supernova);
  cursor: not-allowed;
  cursor: url(../../images/cursors/boo-color.png) 25 25, pointer;
  pointer-events: not-allowed;
  
  animation: shake;
  animation-duration: 1s;
}
