[data-component='modal'].modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: var(--transition); */
}

[data-component='modal'].modal.FADE {
  background: rgba(0, 0, 0, 0);
}

[data-component='modal'].modal.HIDE {
  display: none;
}

[data-component='modal'] .modal-payload {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-component='modal'] h2 {
  color: white;
}

[data-component='modal'] button {
  width: var(--cell-size);
  height: var(--cell-size);
}

[data-component='modal'] .x3 {
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: contain;
  background: url(../../../images/summer/x3.svg);
  background-repeat: no-repeat;
  background: black;
}

[data-component='modal'] .z3 {
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: contain;
  background: url(../../../images/winter/z3.svg);
  background-repeat: no-repeat;
  background: white;
}