header {
  display: flex;
  flex-direction: column;
  background: var(--ember);
  border: 5px solid gold;
  overflow: hidden;
}

header .c_logo {
  display: block;
  width: 100%;
  padding: 75px 0 5px 0;
  border-bottom: 2px solid var(--obsidian);
  margin-bottom: 5px;
}

header .c_logo h1 {
  padding: 15px 50px;
  display: inline-block;
  transition: var(--transition-sm);
}

header .c_logo h1.FLIP {
  transform: translateX(140vh);
}

header .header-sub {
  width: 100%;
  background: var(--supernova);
  border-top: 10px solid var(--obsidian);
  border-bottom: 10px solid var(--obsidian);
  padding: 10px 0;
  display: flex;
  align-items: center;
}

header .header-sub h2 {
  padding: 0 10px 0 50px;
  color: var(--obsidian);
  font-family: "Nunito";
}

header .header-sub p {
  font-weight: bolder;
}