[data-feature="chomp"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-feature="chomp"] [data-target='side-control'] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

[data-feature="chomp"] [data-selector="board"] {
  width: 40vw;
  height: 100vh;
}

/* Borders */

[data-target="cell"]:first-child, [data-target="cell"]:nth-child(2), [data-target="cell"]:nth-child(3) {
  border-top: none;
}

[data-target="cell"]:nth-child(3n + 1) {
  border-left: none;
}

[data-target="cell"]:nth-child(3n + 3) {
  border-right: none;
}

[data-target="cell"]:last-child, [data-target="cell"]:nth-child(8), [data-target="cell"]:nth-child(7) {
  border-bottom: none;
}