[data-feature="chomp"] [data-target="cell"] {
  background: var(--cold);
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 5px solid var(--brixton);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  transition: all .15s ease-in-out;
}

[data-feature="chomp"] [data-target="cell"].SQUARE {
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/square/square-01.svg);
  background-color: transparent;
}

[data-feature="chomp"] [data-target="cell"].CIRCLE {
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/circle/circle-01.svg);
  background-color: transparent;
}