/* Team Specific */

[data-feature='chomp'].TEAM_LUNA {
  outline: 1px solid black;
}

[data-feature='chomp'] .TEAM_LUNA_CONTROLS {
  outline: 1px solid purple;
  flex: 3;
}

[data-feature='chomp'] .TEAM_LILY_CONTROLS {
  outline: 1px solid hotpink;
  flex: 1;
}

/* General */

[data-feature='chomp'] [data-selector='piece'] {
  outline: 1px solid gold;
  border: none;
  width: var(--cell-size);
  height: var(--cell-size);
  text-indent: -9999px; 
  /* Throw the text offscreen, we only need the value */
}

[data-feature='chomp'] [data-target='piece_directions'] {
  outline: 1px solid coral;
  width: var(--cell-size);
}

[data-feature='chomp'] [data-family='x3'] {
  background: url("../images/circle/circle-04.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

[data-feature='chomp'] [data-family='x2'] {
  background: url("../images/circle/circle-05.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

[data-feature='chomp'] [data-family='x1'] {
  background: url("../images/circle/circle-06.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}