/* Team Specific */

[data-feature='chomp'].TEAM_LUNA {
  outline: 1px solid black;
}

[data-feature='chomp'] .TEAM_LUNA_CONTROLS {
  outline: 1px solid purple;
  flex: 3;
  
}

[data-feature='chomp'] .TEAM_LILY_CONTROLS {
  outline: 1px solid hotpink;
  flex: 1;
}

/* General */

[data-feature='chomp'] [data-selector='piece'] {
  outline: 1px solid gold;
  border: none; /* Reset */
  width: var(--cell-size);
  height: var(--cell-size);
}

[data-feature='chomp'] [data-target='piece_directions'] {
  outline: 1px solid coral;
  width: var(--cell-size);
}