[data-feature="ticTacToe"].lay_grid_3x3 {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

[data-feature="ticTacToe"][data-selector="board"] {
  width: 100vw;
  height: 100vh;
}

[data-feature="ticTacToe"] [data-target="cell"] {
  background: var(--cold);
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 5px solid var(--brixton);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .15s ease-in-out;
}

[data-feature="ticTacToe"] [data-target="cell"].SQUARE {
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/square/square-01.svg);
  background-color: transparent;
}
[data-feature="ticTacToe"] [data-target="cell"].CIRCLE {
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/circle/circle-01.svg);
  background-color: transparent;
}